body{
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    color: white;
    margin-top: 40px;
    margin-top: 40px;
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline-block;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
}
#menu{
    text-align: right;
    margin-top: 49px;
}
a{
    color: white;
    text-decoration: none;
}
.buttonCta{
    background: rgb(4, 152, 26);
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
    padding: 10px 25px 10px 25px;
}
p.gray{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #959293;
}
p.gray b{
    color: green;
}
#headerCta h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: white;
}
#headerImg{
    margin-left: 42px;
}
#headerImg img{
    width: 30%;
}
.headerLogo{
    text-align: center;
}
#clients{
    margin-top: 50px;
    margin-bottom: 50px;
}
#headerClientText{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;
}
h2.green{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: green;
}
h1.black{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px; 
    color: white;
    margin-top: 0;
}
.textCenter{
    text-align: center;
}
#tJapa{
    background-color: rgb(41, 42, 41);
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
}
#tCurr{
    background-color: rgb(41, 42, 41);
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
}
#tVending{
    background-color: rgb(41, 42, 41);
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
}
a:hover.projects{
    color: rgb(4, 196, 4);
}
a.projects{
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    color: rgb(138, 138, 138);
}
a:hover.servics{
    color: rgb(4, 196, 4);
}
#services .textCenter h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: white;
}
#contactImg img{
    width: 100%;
}
.ctimg{
    text-align: center;
}
#card{
    padding-left: 30;
}
#contactForm{
    margin-left: 75px;
    text-align: left;
}
#contact{
    margin-top: 100px;
}
#contactForm input{
    background: #F5F6FB;
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #575455;
    border: 0;
    width: 70%;
    padding: 15px 30px 15px 30px;
}
#contactForm button{
    background: #1F7CFF;
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
    border: 0;
    width: 70%;
    padding: 15px 30px 15px 30px;
}
#AboutMe{
    margin-top: 150px;
    color: white;
}
#AboutMe h1{
    color: green;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
}
#desc{
    margin-left: 30px;
}
#desc1{
    font-size: 30px;
}
#desc1 h1{
    opacity: 0.5;
}
.portfolioImg img{
    width: 100%;
}
.portfolioImg{
    padding: 20px;
}
#card{
    font-family: Poppins;
    color: green;
    padding: 20px;
}
a:active.linkd{
    color: white;
}
a:visited.linkd{
    color: white;
}
a:hover.linkd{
    color: rgb(15, 217, 15);
}
i{
    color: rgb(10, 237, 10);
}
li {
    list-style-type: none;
}
#buttonLinkd{
    background: green;
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    color: white;
}
.buttonLinkd2{
    background: green;
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    color: white;
}
a:hover.buttonCta{
    color: rgb(75, 224, 6);
}
#bann{
    width: 100%;
}
#bann2{
    width: 100%;
}
#bann3{
    width: 100%;
}
.rodape h2{
    text-align: center;
}

.btn-success {
    background-color: green;
    margin: 10px;
}
hr.solid {
    border-top: 3px solid #78ea78;
}

@media (min-width: 400px){
    .btn-success {
        margin: 5px;
    }
    .header{
        font-size: 20px;
        line-height: 30px;
    }
    #headerCta h1{
        font-size: 25px;
        text-align: center;
    }
    #headerCta{
        font-size: 25px;
        text-align: center;
    }
    #dev{
        font-size: 15px;
        line-height: 16px;
        text-align: center;
    }
    #entre{
        font-size: 30px;
        line-height: 30px; 
    }
    #buttonLinkd{
        background: green;
        border-radius: 30px;
        font-size: 20px;
        line-height: 60px;
        color: white;
    }
    .container{
        display: flex;
        flex-direction:column;
        justify-self: center;
        flex-wrap: wrap;
    }
    .servics{
        font-size: 15px;
    }
    #menu{
        margin-top: 20px;
    }
    #headerImg{
        text-align: center;
    }
    #headerImg img{
        width: 60%;
    }
    #contactImg{
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #tJapa{
        width: 140px;
    }
    #tCurr{
        width: 140px;
    }
    #tVending{
        width: 140px;
    }
    #services{
        display: flex;
        flex-direction:row;
        justify-self: center;
        flex-wrap: wrap;
    }
}

@media (min-width: 1000px){
    .btn-success {
        margin: 5px;
    }
    .header{
        font-size: 25px;
        line-height: 30px;
    }
    #headerCta h1{
        font-size: 35px;
    }
    #dev{
        font-size: 20px;
        line-height: 25px;
    }
    #entre{
        font-size: 30px;
        line-height: 30px; 
    }
    #buttonLinkd{
        background: green;
        border-radius: 30px;
        font-size: 20px;
        line-height: 60px;
        color: white;
    }
    .container{
        display: flex;
        flex-direction:column;
        justify-self: center;
        flex-wrap: wrap;
    }
    .servics{
        font-size: 18px;
    }
    #menu{
        margin-top: 40px;
    }
    #contactImg img{
        width: 40%;
    }
    .ctimg img{
        text-align: center;
    }
    #headerImg img{
        width: 40%;
    }
    #tJapa{
        width: 200px;
        margin-right: 20px;
        padding: 20px;
    }
    #tCurr{
        width: 200px;
        margin-right: 20px;
    }
    #tVending{
        width: 200px;
        margin-right: 20px;
    }
    #services{
        display: flex;
        flex-direction:row;
        justify-self: center;
        flex-wrap: wrap;
    }
}

@media (min-width: 480px){
    .btn-success {
        margin: 5px;
    }
    .header{
        font-size: 25px;
        line-height: 30px;
    }
    #headerCta h1{
        font-size: 35px;
    }
    #dev{
        font-size: 20px;
        line-height: 25px;
    }
    #entre{
        font-size: 30px;
        line-height: 30px; 
    }
    #buttonLinkd{
        background: green;
        border-radius: 30px;
        font-size: 20px;
        line-height: 60px;
        color: white;
    }
    .container{
        display: flex;
        flex-direction:column;
        justify-self: center;
        flex-wrap: wrap;
    }
    .servics{
        font-size: 18px;
    }
    #menu{
        margin-top: 5px;
    }
    #contactImg img{
        width: 40%;
    }
    #headerImg img{
        width: 40%;
    }
    #tJapa{
        width: 300px;
        margin-right: 20px;
        padding: 20px;
    }
    #tCurr{
        width: 300px;
        margin-right: 20px;
    }
    #tVending{
        width: 300px;
        margin-right: 20px;
    }
    #services{
        display: flex;
        flex-direction:row;
        justify-self: center;
        flex-wrap: wrap;
    }
}